<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
    <a href="{% url 'account:events' %}">Customer events</a>
    <p>Access token: {{ request.COOKIES.access_token }}</p>
    <p>Refresh token: {{ request.COOKIES.refresh_token }}</p>
</body>
</html>