<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
    <a href="{% url 'account:account' %}">Account</a>

    {% for obj in objects %}
        <p>{{ obj.event_name }} Since: {{ obj.event_start }} Until: {{ obj.event_end }} Remind: {{ obj.get_reminders_display }}</p>
    {% endfor %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
</body>
</html>