<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <a href="{% url 'main' %}">Main page</a>
    <a href="{% url 'login' %}">Login</a>
    <form action="" method="post">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        {% csrf_token %}

        {{ form.as_p }}
        <input type="submit">
    </form>
</body>
</html>