<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <a href="{% url 'registration' %}">Registration</a>
    <a href="{% url 'login' %}">Login</a>
</body>
</html>