<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Email</title>
</head>
<body>
    <a href="{% url 'main' %}">Main</a>
    <a href="{% url 'registration' %}">Registration</a>
    <a href="{% url 'login' %}">Login</a>
    <form action="" method="post">
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        {% csrf_token %}

        {% for field in form %}
            {% if field == form.email %}
                or
            {% endif %}
            <p>{{ field.label }} {{ field }}</p>
        {% endfor %}

        {{ form.non_field_errors }}
        <input type="submit" />
    </form>
</body>
</html>