<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <a href="{% url 'main' %}">Main page</a>
    <a href="{% url 'registration' %}">Registration</a>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" />
    </form>
    <a href="{% url 'login-email' %}">send login email</a>
</body>
</html>